  <h1>About Dracula</h1>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
  <button class="btn btn-primary" {{action "showMessage"}}>Click here to know more about Dracula!</button>
  {{#if isPictureShowing}}
<button class="btn btn-primary" {{action 'hidePicture'}}>Hide picture</button>
  <p><img 
     src="http://filmovisruba.files.wordpress.com/2012/04/dracula-in-hotel-transylvania.jpg"   alt="picture of Dracula"></p>
{{else}}
<button class="btn btn-primary" {{action 'showPicture'}}>Click here to see a picture</button>
{{/if}}